.body{
    overflow: hidden;
  }
  
  
  .MainContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #f5f5dc;
      overflow: hidden;
  
  }
  
  
  
  .ProductContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
  
      width: 100%;
      border: 1px solid #ccc;
      padding: 50px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
      margin-top: 2%;
      margin-bottom: 2%;
  }
  
  .ProductSelectContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  
      margin-bottom: 5px;
      margin-right: 0.3%;
  }
  
  #category {
      width:90%;
      padding: 10px;
      margin-bottom: 10px;
  }
  
  
  #product-search {
      width: 80%;
      padding: 8px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px;
  }
  
  
  
  /*------------------------------------------ProductOrderContainer---------------------------------*/
  
  .ProdcutOrderContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  
  }
  
  
  .InputRow input[type="number"] {
      width: 60px;
      padding: 8px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px;
  }
  
  .InputRow label {
      font-size: 16px;
  }
  
  
  #addToCart {
      padding: 10px 20px;
      font-size: 16px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  }
  
  #addToCart:hover {
      background-color: #0056b3;
  }
  
  
  
  
  
  
  
  
  /*------------------------------------------OrderContainer---------------------------------*/
  
  
  .OrderContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  
  
     
  }
  
  .OrderTitleContainer{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
  }
  
  
  #presetDropdown{
      padding: 8px;
      width:100%;
      margin-bottom: 2%;
      
  }
  #PreSet{
      padding: 5px 10px;
      font-size: 16px;
      background-color: #007bff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      color:white;
  }
  #PreSet:hover{
      background-color: #2f3438;
  }
  
  #order-details {
      width: 100%;
      height: 200px; /* 높이를 조절할 수 있습니다. */
      padding: 10px; /* 내부 여백 설정 */
      border: 1px solid #ccc; /* 테두리 스타일 설정 */
      border-radius: 5px; /* 테두리 모서리를 둥글게 만듭니다. */
      font-size: 16px; /* 폰트 크기 설정 */
     
      margin-bottom: 5%;
    }
    
    #order-details:focus {
      border-color: #007bff; /* 포커스될 때 테두리 색상 변경 */
      outline: none; /* 포커스된 상태에서 외곽선 제거 */
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* 포커스될 때 그림자 효과 추가 */
    }
  
  
  #newOrder{
      padding: 5px 10px;
      font-size: 16px;
      background-color: #007bff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      color:white;
  }
  
  
  
  .InfoContainer {
      display: flex;
      align-items: left;
      justify-content: center;
      flex-direction: column;
  }
  
  
  .InfoContainer > * {
      padding: 15px 5px;
      margin-bottom: 5%;
      width:100%;
  }
  
  #order-button{
      padding: 5px 10px;
      font-size: 16px;
      background-color: #007bff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      color:white;
  }
  
  .InputRow {
      flex-wrap: nowrap;
      margin-bottom: 10px;
  }
  
  
  
  
  
  
  
  
  
  .modal {
      display: none;
      position: fixed;
      
      top: 0;
      left: 0;
   
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      
  }
  
  .modal-content {
      background:#BCBC9D;
     
      padding: 20px;
      border: 1px solid #888;
      width: 100%;
      height: 100%;
  
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }
  
  .upper {
      display: flex;
      width:100%;
      align-items: center;
      justify-content: center;
      
      margin-left: -5%;
      margin-bottom: 5%;
  }
  
  .PresetoptionButton {
      width: 50px; /* 버튼의 너비를 100px로 설정합니다. */
      height: 35px; /* 버튼의 높이를 50px로 설정합니다. */
     
      background-color: #FD5E53;
      font-size: 13px;
      border: none;
      margin-left: 5%;
  
      
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4); /* 그림자 효과 추가 */
  }
  
  
  .PresetoptionButton:hover {
      background-color: #5c2a29;
      color:#ccc;
  }
  
  #PresetcloseButton{
  
      border: none;
      color: white;
      font-size: 20px;
      cursor: pointer;
  }
  
  
  
  .buttonContainer1,.buttonContainer2{
      display:flex;
      gap:10px;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      margin-bottom: 3%;
  }
  
  .Main button {
      background-color: #6c6c6e;
      color: white;
      border: none;
      padding: 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
  
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4); /* 그림자 효과 추가 */
  }
  
  
  
  
  
  #order-details-popup {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.9);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 9999;
  }
  
  #order-details-content {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      max-height: 80%;
      overflow-y: auto;
  }
  
  #order-details-list {
      list-style-type: none;
      padding: 0;
      margin-bottom: 20px;
  }
  
  #order-details-list li {
      padding: 15px;
      cursor: pointer;
      border-bottom: 1px solid #ddd;
      transition: background-color 0.3s;
      color: #333;
  }
  
  #order-details-list li:hover {
      background-color: #f9f9f9;
  }
  
  #order-details-list li.selected {
      background-color: #e0e0e0;
  }
  
  #deleteButton {
     
      padding: 10px;
      background-color: #d9534f;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }
  
  #deleteButton:hover {
      background-color: #c9302c;
  }
  
  #close-button {
      margin-top: 10px;
      padding: 10px;
      background-color: #333;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }
  
  #close-button:hover {
      background-color: #555;
  }
  
  
  
  
  
  
  
  
  #order-summary {
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: center;
  }
  
  #presetTitle{
      padding :10px;
      margin-bottom: 2%;
  }
  
  #preset-details{
      height:150px;
  }
  
  #PresetcloseButton{
     margin-right: -80%;
     margin-top: -10%;
  }
  
  
  
  #order-total {
      font-weight: bold;
  }
  
  
  
  
  
  